.novara {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.novara .div {
    background-image: url(./novara.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.novara .text-wrapper {
    color: #ffffff;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 75px;
    font-weight: 200;
    left: 328px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 86px;
    width: 742px;
}

.novara .overlap-group {
    height: 40px;
    left: 1px;
    position: absolute;
    top: 983px;
    width: 133px;
}

.novara .rectangle {
    background-color: #d9d9d93d;
    border-radius: 20px;
    height: 38px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 131px;
}

.novara .text-wrapper-2 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 133px;
}

.novara .overlap {
    height: 665px;
    left: 107px;
    position: absolute;
    top: 293px;
    width: 600px;
}

.novara .frame {
    border-radius: 30px;
    height: 664px;
    left: 0;
    mix-blend-mode: overlay;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 600px;
}

.novara .rectangle-2 {
    background-color: #cdb5b5;
    height: 664px;
    width: 1238px;
}

.novara .land-area {
    color: #000000;
    font-family: "Azeret Mono-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 78px;
    width: 582px;
}

.novara .span {
    font-weight: 700;
}

.novara .text-wrapper-3 {
    font-family: "Azeret Mono-Regular", Helvetica;
}

.novara .text-wrapper-4 {
    color: #090909;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 65px;
    font-weight: 200;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 590px;
}

.novara .rectangle-3 {
    background-color: #ffffff80;
    border-radius: 20px;
    height: 56px;
    left: 197px;
    position: absolute;
    top: 585px;
    width: 208px;
}

.novara .text-wrapper-5 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 201px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 594px;
    white-space: nowrap;
    width: 204px;
}

.novara .overlap-2 {
    height: 665px;
    left: 726px;
    position: absolute;
    top: 293px;
    width: 600px;
}

.novara .rectangle-4 {
    background-color: #ffffff80;
    border-radius: 20px;
    height: 56px;
    left: 187px;
    position: absolute;
    top: 585px;
    width: 208px;
}

.novara .text-wrapper-6 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 191px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 594px;
    white-space: nowrap;
    width: 204px;
}

.novara .p {
    color: #090909;
    font-family: "Azeret Mono-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 78px;
    width: 582px;
}

.novara .text-wrapper-7 {
    color: #090909;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 65px;
    font-weight: 200;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 590px;
}
