.fireskippers {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.fireskippers .div {
    background-image: url(./fireskippers.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.fireskippers .text-wrapper {
    color: #ffffff;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 75px;
    font-weight: 200;
    left: 328px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 86px;
    width: 742px;
}

.fireskippers .overlap {
    height: 665px;
    left: 107px;
    position: absolute;
    top: 293px;
    width: 1225px;
}

.fireskippers .frame {
    background-color: #cdb5b5;
    height: 664px;
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 1px;
    width: 1225px;
}

.fireskippers .description {
    color: #000000;
    font-family: "Azeret Mono-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 195px;
    width: 1097px;
}

.fireskippers .span {
    font-weight: 700;
}

.fireskippers .text-wrapper-2 {
    font-family: "Azeret Mono-Regular", Helvetica;
}

.fireskippers .text-wrapper-3 {
    color: #000000;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 75px;
    font-weight: 200;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 1078px;
}

.fireskippers .overlap-group {
    height: 40px;
    left: 1px;
    position: absolute;
    top: 983px;
    width: 133px;
}

.fireskippers .rectangle {
    background-color: #d9d9d93d;
    border-radius: 20px;
    height: 38px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 131px;
}

.fireskippers .text-wrapper-4 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 133px;
}
