.desktop {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-image: url(./desktop-3.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.desktop .text-wrapper {
    color: #ffffff;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 75px;
    font-weight: 200;
    left: 328px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 86px;
    width: 742px;
}

.desktop .overlap {
    height: 731px;
    left: 1px;
    position: absolute;
    top: 293px;
    width: 1331px;
}

.desktop .overlap-group {
    height: 731px;
    left: 106px;
    position: absolute;
    top: 0;
    width: 1225px;
}

.desktop .frame {
    background-color: #cdb5b5;
    height: 664px;
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 1px;
    width: 1225px;
}

.desktop .distance-from-earth {
    color: #ffffff;
    font-family: "Azeret Mono-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 96px;
    width: 1097px;
}

.desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Azeret Mono-ExtraLight", Helvetica;
    font-size: 75px;
    font-weight: 200;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 1078px;
}

.desktop .rectangle {
    background-color: #ffffff80;
    border-radius: 20px;
    height: 56px;
    left: 1017px;
    position: absolute;
    top: 675px;
    width: 208px;
}

.desktop .text-wrapper-3 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 1021px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 684px;
    white-space: nowrap;
    width: 204px;
}

.desktop .overlap-group-2 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 690px;
    width: 133px;
}

.desktop .rectangle-2 {
    background-color: #d9d9d93d;
    border-radius: 20px;
    height: 38px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 131px;
}

.desktop .text-wrapper-4 {
    color: #090909;
    font-family: "Azeret Mono-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 133px;
}
