@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: left;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.hero-section {
  position: left;
  width: 100%;
  height: 120vh;
  background: #000;
}

.hero-content-left {
  position: absolute;
  top: 110%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.hero-content-right {
  position: absolute;
  top: 60%;
  right: 20%;
  transform: translate(-50%, -50%);
  text-align: right;
}

video {
  position: absolute;
  top: 0%;
  width: auto;
  height: auto;
  object-fit: cover;
  max-width: 100vw;
  max-height: 100vh;
}

.text-div {
  text-align: left;
}

.text-div-1 {
  text-align: left;
  position:absolute;
  color: white;
  left: 60px;
  width: 400px;
}

.text-2 {
  font-size: 30px;
  color: white;
}

.text-1 {
  font-size: 150px;
  color: white;
}


.hero-content-left {
  display: flex;
  align-items: left;
  left: 30%;
}

.hero-content-right {
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.text-container { 
  align-items: right;
  left: 85%;/* This can be adjusted to your liking */
  width: 300px;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  color: white;
  text-align: center;
}

.highlights-section {
  position: absolute;
  top: 800px;
  width: 100%;
  height: 120vh;
  background: #000;
  background-image: url(./assets/site-bg-1.jpg);
}

.highlights-content-left {
  position: absolute;
  top: 100%;
  left: 400%;
  text-align: left;
}

.text-div-2 {
  font-weight: bold;
  font-size: 30px;
}


.image {
  float: right;
  object-position: 0%;
  bottom: 500px;
  height: 50%;
  width: 50%;
}